<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 *ngIf="contentItem?.id == -1">0 Record Found!</h2>
        <h2 *ngIf="contentItem?.id != -1">
          <a
            [routerLink]="['/detail', contentItem?.id]"
            routerLinkActive="active"
          >
            <strong appHighlightImportantData [titleColor]="titleColor"
            >Movie: {{ contentItem?.title }}
            </strong>
          </a>
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <div
          class="type"
          *ngIf="contentItem?.type || contentItem?.id != -1"
          appHighlightImportantData
          [borderHighlight]="borderHighlight"
        >
          <b>Type :</b>
          {{ contentItem?.type }}
        </div>
        <div>
          <h4
            appHighlightImportantData
            [hoverTextColor]="hoverTextColor"
            *ngIf="contentItem?.id != -1"
          >
            HashTags : {{ contentItem?.hashtags }}
          </h4>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      *ngIf="contentItem?.imageLink; else defaultImg"
      [src]="contentItem?.imageLink"
      (click)="display_moives()"
      alt=""
    />

    <ng-template #defaultImg>
      <img
        mat-card-image
        width="460px"
        [src]="defaultImageLink"
        (click)="display_moives()"
        alt=""
      />
    </ng-template>

    <mat-card-content>
      <p>
        {{ contentItem?.body }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
